In [1]:
import sqlite3
import pandas as pd
import sqlalchemy
import pickle

In [2]:
engine = sqlalchemy.create_engine('sqlite:///choice.sqlite')

In [3]:
choice = pickle.load(open('./data/choice.pkl', 'rb'))

In [4]:
choice = pd.DataFrame(choice, columns= ['movie_id','title','genres','cast','popularity'])

In [5]:
choice['genres'] = choice['genres'].apply(lambda x: "$".join(x))

In [6]:
choice['cast'] = choice['cast'].apply(lambda x: "$".join(x))

In [7]:
choice.head()

,movie_id,title,genres,cast,popularity
546,211672,Minions,Family$Animation$Adventure$Comedy,Sandra Bullock$Jon Hamm$Michael Keaton$Allison...,875.581305
95,157336,Interstellar,Adventure$Drama$Science Fiction,Matthew McConaughey$Jessica Chastain$Anne Hath...,724.247784
788,293660,Deadpool,Action$Adventure$Comedy,Ryan Reynolds$Morena Baccarin$Ed Skrein$T.J. M...,514.569956
94,118340,Guardians of the Galaxy,Action$Science Fiction$Adventure,Chris Pratt$Zoe Saldana$Dave Bautista$Vin Diesel,481.098624
127,76341,Mad Max: Fury Road,Action$Adventure$Science Fiction$Thriller,Tom Hardy$Charlize Theron$Nicholas Hoult$Hugh ...,434.278564

In [9]:
choice.to_sql('choice', engine)

4808

In [ ]:
engine = sqlalchemy.create_engine('sqlite:///popular.sqlite')

In [3]:
popular = pickle.load(open('./data/popular.pkl', 'rb'))

In [4]:
popular = pd.DataFrame(popular, columns= ['movie_id','title','genres','release_date','popularity'])

In [5]:
popular['genres'] = popular['genres'].apply(lambda x: "$".join(x))

In [6]:
popular.head()

,movie_id,title,genres,release_date,popularity
546,211672,Minions,Family$Animation$Adventure$Comedy,2015,875.581305
95,157336,Interstellar,Adventure$Drama$Science Fiction,2014,724.247784
788,293660,Deadpool,Action$Adventure$Comedy,2016,514.569956
94,118340,Guardians of the Galaxy,Action$Science Fiction$Adventure,2014,481.098624
127,76341,Mad Max: Fury Road,Action$Adventure$Science Fiction$Thriller,2015,434.278564

In [7]:
popular.to_sql('popular', engine)

4808

In [ ]:
engine = sqlalchemy.create_engine('sqlite:///movies.sqlite')

In [ ]:
movies = pickle.load(open('./data/dataset.pkl', 'rb'))

In [17]:
movies = pd.DataFrame(movies, columns= ['movie_id', 'title', 'tagline', 'overview', 'genres', 'keywords', 'cast', 'crew', 'popularity', 'release_date','poster_path'])

In [ ]:
movies['genres'] = movies['genres'].apply(lambda x: "$".join(x))

In [ ]:
movies['keywords'] = movies['keywords'].apply(lambda x: "$".join(x))

In [ ]:
movies['cast'] = movies['cast'].apply(lambda x: "$".join(x))

In [ ]:
movies['crew'] = movies['crew'].apply(lambda x: "$".join(x))

In [16]:
movies.head()

In [ ]:
movies.to_sql('movies', engine)