In [37]:
import sqlite3
import pandas as pd
import sqlalchemy
import pickle

In [38]:
engine = sqlalchemy.create_engine('sqlite:///MicrosoftInternEngage.db')

In [41]:
def index():
    L=[]
    for i in range(0,4808):
       L.append(i)
    return L

In [39]:
select = pickle.load(open('./model/data/select.pkl', 'rb'))

In [40]:
select = pd.DataFrame(dataset, columns= ['movie_id','title','genres','cast','popularity'])

In [42]:
select.insert(0, 'index', L)

In [43]:
select['genres'] = select['genres'].apply(lambda x: "$".join(x))

In [44]:
select['cast'] = select['cast'].apply(lambda x: "$".join(x))

In [45]:
select.head()

,index,movie_id,title,genres,cast,popularity
0,0,19995,Avatar,Action$Adventure$Fantasy$Science Fiction,Sam Worthington$Zoe Saldana$Sigourney Weaver$S...,150.437577
1,1,285,Pirates of the Caribbean: At World's End,Adventure$Fantasy$Action,Johnny Depp$Orlando Bloom$Keira Knightley$Stel...,139.082615
2,2,206647,Spectre,Action$Adventure$Crime,Daniel Craig$Christoph Waltz$Léa Seydoux$Ralph...,107.376788
3,3,49026,The Dark Knight Rises,Action$Crime$Drama$Thriller,Christian Bale$Michael Caine$Gary Oldman$Anne ...,112.312950
4,4,49529,John Carter,Action$Adventure$Science Fiction,Taylor Kitsch$Lynn Collins$Samantha Morton$Wil...,43.926995

In [46]:
select.to_sql('select', engine)

4808

In [47]:
popular = pickle.load(open('./model/data/popular.pkl', 'rb'))

In [49]:
popular = pd.DataFrame(dataset, columns= ['movie_id','title','genres','release_date','popularity'])

In [50]:
popular.insert(0, 'index', L)

In [51]:
popular['genres'] = popular['genres'].apply(lambda x: "$".join(x))

In [52]:
popular.head()

,index,movie_id,title,genres,release_date,popularity
0,0,19995,Avatar,Action$Adventure$Fantasy$Science Fiction,2009,150.437577
1,1,285,Pirates of the Caribbean: At World's End,Adventure$Fantasy$Action,2007,139.082615
2,2,206647,Spectre,Action$Adventure$Crime,2015,107.376788
3,3,49026,The Dark Knight Rises,Action$Crime$Drama$Thriller,2012,112.312950
4,4,49529,John Carter,Action$Adventure$Science Fiction,2012,43.926995

In [53]:
popular.to_sql('popular', engine)

4808

In [ ]:
dataset = pickle.load(open('./model/data/dataset.pkl', 'rb'))

In [17]:
movies = pd.DataFrame(dataset, columns= ['movie_id', 'title', 'tagline', 'overview', 'genres', 'keywords', 'cast', 'crew', 'popularity', 'release_date','poster_path'])

In [ ]:
movies.insert(0, 'index', L)

In [ ]:
movies['genres'] = movies['genres'].apply(lambda x: "$".join(x))

In [ ]:
movies['keywords'] = movies['keywords'].apply(lambda x: "$".join(x))

In [ ]:
movies['cast'] = movies['cast'].apply(lambda x: "$".join(x))

In [ ]:
movies['crew'] = movies['crew'].apply(lambda x: "$".join(x))

In [16]:
movies.head()

In [ ]:
movies.to_sql('movies', engine)